{% extends "base.html" %}
{% block content %}

<h2>Indoor vs Outdoor Air Quality</h2>

<canvas id="indoorChart"></canvas>
<h3 id="suggestion"></h3>

<script>
fetch("/api/indoor/")
.then(r=>r.json())
.then(data=>{

    new Chart(document.getElementById("indoorChart"),{
        type:"bar",
        data:{
            labels:["Indoor","Outdoor"],
            datasets:[{
                label:"AQI Comparison",
                data:[data.indoor,data.outdoor]
            }]
        }
    });

    document.getElementById("suggestion").innerText=
        "Suggestion: "+data.suggestion;
});
</script>

{% endblock %}
